<!doctype html>
<html>
  <head>
    <title>Math Txt</title>
  </head>
  <body>
    <div id="containter">
      <div id="header">
        <h1>Math Txt</h1>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
